[2021-01-30 16:20] dvdoug commented on #219
https://github.com/dvdoug/BoxPacker/blob/master/tests/Test/TestBox.php#L64

[2021-02-02 04:52] erthiph opened #221 "Some spaces are left unused"
So i tested some scenarios.
scenario 1 caps at:
box: 200x200x200
item1 : 150x150x150 quantity 1
item2 : 50x50x50 quantity 31
but this should be able to pack item 2 quantity of 37

![box-1](https://user-images.githubusercontent.com/20819865/106553491-4fba0900-653b-11eb-85ae-9ddca1ebcfa5.PNG)

scenario 2 caps at:
box: 40x40x40
item1 : 35x35x5 quantity 8
but this should be able to pack item 1 quantit

[2021-02-02 09:07] warmwhisky commented on #219
Hmmm. Ok. So I need to create a class like TestBox.php to use this package? Where does that go?

[2021-02-02 17:34] SusieQ905 opened #222 "Need some help to get your example working"
Hi Doug,
I  have been trying for days to get your Box Packer example to work for me. I was able to download the code via composer and run it to load BoxPacker. I do not have a lot of experience working with php. Can you please help me and tell me why I see this error?

Fatal error: Uncaught Error: Class 'ItemList' not found in /home/rv7pt9xivtq0/public_html/box_test1.php:46 Stack trace: #0 {main}

[2021-02-02 18:48] #222 closed

[2021-02-02 18:49] SusieQ905 commented on #222
Figured it out. I needed to do the following:
$items = new DVDoug\BoxPacker\ItemList();

[2021-02-04 22:29] dvdoug commented on #219
Sorry, I don't understand what you mean by where does it go...it'll be in your code, so up to you?

[2021-02-15 13:01] solocolagenos opened #224 "Suggest item"
How can I get the dimensions of an item that can fill the remaining empty space in the box?

try it with:
$packedBox->getRemainingWidth()
$packedBox->getRemainingLength()
$packedBox->getRemainingDepth();

but it didn't work as I wanted
thx!!

[2021-02-22 20:48] Gemorroj opened #225 "isSameDimensions performance"
I have tested some performance for BoxPacker and have a small suggestion for faster compare dimensions.
See https://github.com/dvdoug/BoxPacker/blob/3.x/src/OrientatedItem.php#L130
For that case instead of sorting we can use [array_diff](https://www.php.net/array_diff) or [array_intersect](https://www.php.net/array_intersect).
See that project for more info https://github.com/Gemorroj/array-compar

[2021-02-24 09:03] dvdoug commented on #225
Hi @Gemorroj

Those results look very interesting, thank you very much for the suggestion! I'll certainly add investigating this to my todo list (am currently trying to get a rewrite of a different project over the line)

[2021-03-02 13:46] kolevich opened #227 "Packaging issue"
Hello,
We have an issue with BoxPacker when trying to pack 11 items in a single box.

**item:**
- width: 4.2
- length: 10
- height: 7

**box 1:**
- width: 16
- length: 18
- height: 18
- item qty: 11
- result: failed to pack in a single box

We are pretty sure it's a bug because a) our end-user states it works in a real-life b) it works fine when we split this box into 2 and trying to pack 3 and 8

[2021-03-02 23:12] dvdoug commented on #227
Sounds like you might have found an edge case where the algorithm picks a wrong orientation. I hate these 😅

[2021-03-03 14:04] kolevich commented on #227
@dvdoug thanks for the quick response. Is there a way to fix it? Are you planning to do so at an early date?

[2021-03-05 21:22] dvdoug commented on #225
Hello @Gemorroj

I've taken a look, and unfortunately I don't think the change is safe to make: if two dimensions have the same length, those array functions get confused: see https://3v4l.org/T9ZOJ

What do you think?

[2021-03-07 20:04] dvdoug commented on #227
Hi @kolevich

There is no perfect box-packing algorithm in existence, so like all such algorithms BoxPacker is essentially a set of heuristics which due to their very nature will sometimes pick the non-optimal* result. It's usually fairly easy for me to track down which heuristic causes any particular sub-optimal result, the difficult part is coming up with a new, tweaked version of it that works

[2021-03-07 20:17] #175 closed

[2021-03-07 21:20] dvdoug commented on #178
As I understand it, there is nothing to do here. Please reopen if I've misunderstood

[2021-03-07 21:20] #178 closed

[2021-03-08 19:20] dvdoug commented on #205
Am assuming you got this to work, please reopen if not

[2021-03-08 19:20] #205 closed

[2021-03-08 19:21] dvdoug commented on #212
Am assuming you got this to work, please reopen if not

[2021-03-08 19:21] #212 closed

[2021-03-08 19:38] dvdoug commented on #224
Hi @solocolagenos

Are you able to explain a little more about what you are trying to achieve? After a box is packed, there will be all sorts of "spaces" left over there is typically not just 1 leftover space.

The 3 methods above relate to the overall box. For instance if inner box dimensions were 20x30x40 and it was filled with 1 item 18x20x35. Then:
* used(Width/Length/Depth)  = 18x20x35  (a hy

[2021-03-08 21:04] #201 closed

[2021-03-08 21:16] dvdoug commented on #218
Hi @pikil

You didn't include the actual item dimensions for everything in those boxes so I can't run the precise packing you did. Please note though when you call `$packer->addItem()`, that does not respect the pre-sorting you've done, it makes it's own determinations. If you want your own sort order respected, you'll need to do something like this:

[code]

[2021-03-08 22:22] dvdoug commented on #221
I'll take a look

[2021-03-08 23:41] pikil commented on #218
Ah, nice! Thank you Doug! That customised sorting is just perfect!

**This one is a good one after applying your suggestions about custom sorting:**
![Screen Shot 2021-03-09 at 12 38 41 PM](https://user-images.githubusercontent.com/26779040/110396241-881dab80-80d4-11eb-9c00-fc2c96aaba6c.png)

Just for your information if you want to have a look on what has actually happening with the distribution,

[2021-03-09 11:25] solocolagenos commented on #224
Thanks for answering.
Could you know what the dimensions of the largest remaining space would be? (with more volume)

[2021-03-10 02:54] pikil commented on #218
Hi Doug,
Many thanks for the suggestion, however the sorting by weight does not place all longest items into one big box:

![Screen Shot 2021-03-10 at 3 48 48 PM](https://user-images.githubusercontent.com/26779040/110568822-82999180-81b8-11eb-999e-c5533590cac0.png)

Generally, the idea was to get as little volume as possible for the boxes (useful for storage purposes, when the weight distribution

[2021-03-11 02:37] #218 closed

[2021-03-11 20:03] dvdoug commented on #221
Many thanks for this report @erthiph, debugging this revealed a logic case the core algorithm was accidentally overlooking

[2021-03-11 21:29] #221 closed

[2021-03-13 13:32] Gemorroj commented on #225
Ye, I think you are right. I don't know how I missed it.

[2021-03-13 13:32] #225 closed

[2021-03-13 18:21] dvdoug commented on #225
Thanks for the suggestion anyway 😃

[2021-03-14 21:25] dvdoug commented on #213
Literally no idea what I'm doing with this 3D stuff (also my JS is very rusty), but the next release will include an experimental visualisation tool.

Suggestions on improving it are welcome!

[2021-03-19 06:15] #181 closed

[2021-03-27 03:05] lvming920716 commented on #214
hey , you say "I'll think about it - 3D packing should give better results than 2D most of the time, and having an API to try both just in case feels like masking the problem." , i want to know the Api , please ~

[2021-04-03 03:31] mantisae opened #228 "Declaration Incompatible with DVDoug\BoxPacker\ConstrainedPlacementItem::canBePacked"
Getting an error when trying to use the "don’t allow batteries to be stacked" example from the documentation to disallow stacking of furniture.

`
Fatal error: Declaration of UnstackableFurniture::canBePacked(Box $box, PackedItemList $alreadyPackedItems, int $proposedX, int $proposedY, int $proposedZ, int $width, int $length, int $depth) must be compatible with DVDoug\BoxPacker\ConstrainedPlacemen

[2021-04-06 20:17] dvdoug commented on #228
Hi @mantisae

I think 🤞 this is a namespace conflict issue - you need to add ```use DVDoug\BoxPacker\Box; use DVDoug\BoxPacker\PackedItemList;```.

[2021-04-07 00:44] mantisae commented on #228
unfortunately that did not work
I tried

[code]

[2021-04-07 19:43] dvdoug commented on #228
Hi @mantisae

Looks like there was a small missing piece from the documentation examples, so thanks for reporting this and letting me know.

[2021-04-07 19:43] #228 closed

[2021-04-21 22:23] xBIGDBx opened #230 "Packing method"
Hi,
I wonder about a way to pack 4 items that can actually be packed into one box without being stackable, but BoxPacker breaks it down into 2.

[code]
[code]

![boxpacker](https://user-images.githubusercontent.com/59751956/115628012-3b96d400-a300-11eb-8bdc-52b3044ef2aa.jpg)
and the fourth pallet in the second package

**The effect that I would like to achieve**
![real](https://user-images.githubu

[2021-04-25 15:45] dvdoug commented on #230
Hi @xBIGDBx

I'll take a look

[2021-04-27 12:18] mrehssani opened #231 "Packing Issue"
Hi,

I faced the same issue with several others concerning the optimal packing, e.g the case is :
Box size of 30X20X20 and items as below:

    $packer->addBox(new TestBox('Box 2.5', 30,20, 20, 2, 30, 20, 20, 1000));

    $packer->addItem(new TestItem('Item 1', 20, 20, 2, 0, false), 4);
    $packer->addItem(new TestItem('Item 2', 8, 3, 2, 0, false), 4);
    $packer->addItem(new TestItem('Item 3',

[2021-04-27 16:02] mrehssani commented on #231
same happens by adding even one item 5

[2021-04-28 08:55] mrehssani commented on #231
The other case I tested :
I changed the box direction:
$packer->addBox(new TestBox('Box 2.5-2', 20,20, 30, 2, 20, 20, 30, 1000));

    $packer->addItem(new TestItem('Item 1', 20, 20, 2, 0,  Item::ROTATION_BEST_FIT), 4); // item, quantity
   $packer->addItem(new TestItem('Item 2', 8, 3, 2, 0,  6), 4);
    $packer->addItem(new TestItem('Item 3', 10, 10, 10, 0, Item::ROTATION_BEST_FIT), 4);
   $packe

[2021-04-28 12:31] mrehssani commented on #231
Something going wrong for json serializer , in LayerPacker , the startx get reset after filling the first step  in X(width) direction:
Check this example :

Box:
$packer->addBox(new TestBox('Box 2.5-1', 30,20, 20, 2, 30, 20, 20, 1000));
Item:
$packer->addItem(new TestItem('Item 1', 2, 8, 12, 0,  6), 53);

The 51st item starts in position 0,0,0 and so on to 59th

[2021-05-03 20:28] erikkvarnbranna commented on #141
The (simple) way I solved this was.
 - 1. Set the bag height to 0.
 - 2. Sort the remaining items
 - 3. Add the first items height to my bag and make width and length the same amount shorter.
 - 4. Try fitting items
 - 5. If items left return to 2.

Simple and far from perfect but seems to work reasonably well.

[2021-05-03 20:48] dvdoug commented on #230
Hi @xBIGDBx

Your example here is probably the "worst" case of a scenario as far as the packing algorithm is concerned. There are 2 things that are negatively affecting the packing efficiency in this case:

1) All the items are identical, and yet for this particular box shape the best packing density requires to them to packed in different orientations - in most scenarios that I've seen, keeping t

[2021-05-03 20:51] dvdoug commented on #227
I've had a look at this, sadly haven't found a revised heuristic yet that works yet without regressing more cases than it improves

[2021-05-03 22:52] dvdoug commented on #231
I can reproduce this, thanks for reporting!

[2021-05-05 11:22] mrehssani commented on #231
Thank you , do the commits work on master version as well?

[2021-05-05 11:39] #231 closed

[2021-05-05 11:41] dvdoug commented on #231
Should do!

[2021-05-10 21:13] shakethatweight-simon opened #234 "Overlapping items"
Most cases are ok, but we've noticed some issues with items overlapping when we try to visualise the layouts.

The simplest one I've found so far is this, but there are others. Items 1 and 4, both have origin 0,0,0

It looks like the items do fit in the box, but item 4, should be in a different location?

![Screen Shot 2021-05-10 at 22 09 50](https://user-images.githubusercontent.com/62300999/1177

[2021-05-10 22:09] dvdoug commented on #234
Hi @shakethatweight-simon

Can I check what version you're using? 3.9.0 could have that (unfortunate) issue, but 3.9.1 should have fixed it. In the test packing I just did with 3.9.1, Items 1-3 had the same positioning and orientation, item 4 is placed at x=1700,y=0,z=0 which I think aligns with reality.

[2021-05-11 07:17] aurimasrim opened #235 "Packing issue with maxWeight"
Hello,
we've found some strange behavior regarding weight and would appreciate it if you could check it.

Version `3.9.1`

Specific example:
[code]
The dimensions of the boxes are very big on purpose so the limiting factor for this packing case would be max weight.
The actual result is:
[code]
Though I would expect it to be:
[code]
The optimal solution would be to pack 3 items into the `XL` box an

[2021-05-11 07:21] shakethatweight-simon commented on #235
@aurimasrim  Your issue relates to this: https://www.boxpacker.io/en/stable/weight-distribution.html - you can disable this if you want.

[2021-05-11 07:21] shakethatweight-simon commented on #234
@dvdoug Thank you, I didn't notice the update. I'm testing now.

[2021-05-11 07:31] shakethatweight-simon commented on #234
@dvdoug  Perfect, confirmed with some of the larger orders I'd also spotted last night.

[2021-05-11 07:31] #234 closed

[2021-05-11 07:39] aurimasrim commented on #235
But shouldn't weight distribution be applied only to already chosen boxes? I mean that if the optimal solution is 1  `XL` and 1 `L` then weight should be distributed between them?

[2021-05-12 12:53] aurimasrim commented on #235
Hi @dvdoug
good point. Thanks for the detailed explanation!

[2021-05-12 12:53] #235 closed

[2021-05-13 10:09] shakethatweight-simon opened #239 "Visualisation"
Is it possible to know which rotation has been used when an item is packed?

Although we've started with a basic cuboid representation of the objects in the box (we've used Three.js before I noticed you already had a visualisation). We want to upgrade this to use simplified GLTF models of the items. At the moment the only thing I can think of is comparing the original dimensions to the final dimen

[2021-05-13 16:13] fonteyazilim opened #240 "Placement according to the most suitable length and width?"
Hi Sir,

First of all, thank you very much for the application, it is very successful.

However, I need a slight change in the insertion algorithm.
For parts, how can we always fill in the width and length in the most appropriate way?
How can you support this issue?
I have samples.

`

    $packer = new Packer();

    $packer->addBox(new TestBox('Le petite box', 220, 540, 1, 0, 220, 540, 1, 0));

[2021-05-13 20:55] dvdoug commented on #239
Hi @shakethatweight-simon

You want to draw the actual items, not just an encapsulating cuboid? (where those things are different).

I think your identified solution is probably the only feasible one, there is nothing in BoxPacker itself that stores that kind of information and I can't see an easy way of adding it. The data structures are arrays, but the keys are already used for deduplication and

[2021-05-14 10:11] shakethatweight-simon commented on #239
@dvdoug at first glance it seems like rekeying the array to provide orientation information might be the starting point.

[code]

This assumes:
* X axis is the Length
* Y axis is the Width
* Z axis is the Height ?

Just wanted to check this with you first before taking it further, I can see other sections of code that would need to be updated too.

If I mange to make some changes, do you want me t

[2021-05-16 09:02] fonteyazilim commented on #240
hi, i can pay to change the algorithm as i want.

[2021-05-16 20:22] dvdoug commented on #239
Yes, 3.x please as it's easier to merge up than backport. X axis is width, Y is length, Z is depth.

Thinking about it a bit now, the dimension comparison calculations you were looking as a fallback for your own application - maybe adding a new getter into `PackedItem` to basically do that would be easier than generating meaningful keys deep in the core and then propagating them outwards?

[2021-05-16 20:26] dvdoug commented on #240
Hi @fonteyazilim

There is no perfect box-packing algorithm in existence, so like all such algorithms BoxPacker is essentially a set of heuristics which due to their very nature will sometimes pick the non-optimal result. I'll take a look at this specific example when I next have time.

[2021-05-17 17:54] fonteyazilim commented on #240
Hi @dvdoug
Thanks for your answer.  I can pay for this development.  The logic here always comes by filling the most suitable width according to the dimensions.

[2021-05-25 08:01] vidux opened #242 "help need: how I get most matched box by 3d package finding?"
i calculate weight separately  by summing up products weight, and need only consider about dimensions

 per-defined boxes only have width , height and length
eg:
     ( width , length , height )
box1 (20,30,20);
box2 (30,50,25);
box3 (40,60,35);

product also have width , height and length

( width , length , height , ,rotatable, qty)
product1 (5,5,10, true, 1);
product1 (8,8,10, true, 1);
product

[2021-05-26 19:48] dvdoug commented on #242
What you call height, the library probably calls depth - you can check the diagram at https://www.boxpacker.io/en/stable/getting-started.html to compare what you call the 3 dimensions with what the library uses.

For inner dimensions, my first recommendation would be to obtain them but as an alternative you could assume that `inner = outer` or `inner = outer - 1mm`?

[2021-05-27 21:19] bendadaniel opened #243 "Wrong fit calculation"
Hello,
First of all, thank you for this package, it is really cool! However today I am facing bad calculation from one of my setup.

**BOX 1**: 3150 x 1520 x 1 x 1
**BOX 2**: 3150 x 760 x 1 x 1

**ITEM 1**: 1485 x 945 x 1 x 1
**ITEM 2**: 2725 x 585 x 1 x 1
**ITEM 3**: 650 x 585 x 1 x 1

`$packer->pack();` -- failed but it should easy fit !!
If you write same data to https://cutlistoptimizer.com/ i

[2021-05-28 04:15] vidux commented on #242
yes i misunderstood height with depth. I created custom box class and changed its contractor to get required parameters . i think problem fixed. thank you again.

[2021-05-28 04:15] #242 closed

[2021-05-29 22:59] bendadaniel commented on #243
@dvdoug  Thank you for this solution, it is that workaround what I need. So I presort items by some (8) sort functions, run it one by one and then compare and choose best result. Thank you a keep developing this awesome package! :)

Daniel

[2021-05-30 16:04] #243 closed

[2021-06-22 16:53] shakethatweight-simon opened #244 "InfalliblePacker"
I was trying to use the InfalliblePacker to find out what items wouldn't fit if I force a particular box size, but instead it used 2 boxes of the same size. But it has shown that these few items don't fit in the first box, but it does look like at last some of them could fit.

![image](https://user-images.githubusercontent.com/62300999/122967413-575f3a80-d382-11eb-895e-8ed84de99b40.png)
![image](h

[2021-06-23 08:03] giozecc opened #245 "Gravity"
Hi dvdoug,

and thank you for this wonderful tool. Very fast, very smart.

My question is about packing in the vertical direction. It seems that your algorithm allows producing very compact layers, but it does not create a compact stack.
This can happen when, in a bottom layer, there is a box higher than the others, like in the picture

![Layer](https://user-images.githubusercontent.com/52916504/1

[2021-06-23 18:59] dvdoug commented on #244
Hi @shakethatweight-simon

As long as you're not using any custom constraints, `json_encode($packedBoxes)` would be the bare minimum for me to reproduce with, that contains all the relevant dimensions.

If you could turn it into a runnable testcase though (something like https://github.com/dvdoug/BoxPacker/blob/3.x/tests/PackerTest.php#L169) that would be awesome 😄

(note for self, I suspect this

[2021-06-23 23:14] dvdoug commented on #245
Hello @giozecc

What you're seeing is currently "by design" - the algorithm works by building "layers". Once each layer is built, the next layer on top is built assuming a flat horizontal surface (i.e. it doesn't know what came before). This means that the calculated position of a box does indeed sometimes "float".

I'm currently of the belief that adjusting this to take account of space in the la

[2021-06-24 11:33] shakethatweight-simon commented on #244
Extracted from the code, slightly different format to your usual tests but should be ok for you?

The usual routine produces box "12", which has lots of spare space.

[code]

If I use InfalliblePacker and force box "11", then we get the 2 layouts shown in the screenshots originally posted.
(I had originally thought I could use this to force a single box size and find out what doesn't fit in the fi

[2021-06-24 11:46] shakethatweight-simon commented on #244
Don't know if you want this as a new issue, when I forced `isStable = true` I found a few examples like this where the items overlapped.
[code]

![image](https://user-images.githubusercontent.com/62300999/123256751-39601a00-d4e9-11eb-92ea-065f53a03f2e.png)

If I increase the size of the product very slightly, then it still fits in the same box, but packs it without the overlap.
(All our measuremen

[2021-07-04 17:32] #244 closed

[2021-07-09 10:36] bendadaniel opened #248 "Items overlaps in a box"
Hello,
I am using presorted sets for getting the best fitting result. I presort items by some sort functions and then calculate one by one to get the best result. Everything works fine but today I am facing problem that one of my presorted collection returns 1 box and items are overlaped and not return exception or someting else. It should return 2 boxes.

**PHP code to reproduce:**

`$packer_item

[2021-07-10 18:56] dvdoug commented on #248
Hi @bendadaniel

I've just tried and cannot reproduce - can I check what version you're using?

![image](https://user-images.githubusercontent.com/1571110/125173776-de9d1280-e1b8-11eb-9fb3-20612f7d79f6.png)

[2021-07-11 19:56] bendadaniel commented on #248
Hi @dvdoug

I was using v3.9.0 it seems there was this bug, when I update to latest version it works fine. SOLVED.

Once more thank you for this amazing package.

Daniel

[2021-07-11 19:56] #248 closed

[2021-07-26 13:18] BackEndTea opened #249 "3.9.2 contains breaking changes"
We were catching the `ItemTooLargeException` in a few places, but in 3.9.2 the parent `NoBoxesAvailableException` was thrown instead.

This was a breaking change which should not have happened in a patch version. But its easy to miss. Prehaps a tool like https://github.com/Roave/BackwardCompatibilityCheck could be used to discover potential BC breaks?

[2021-08-02 20:18] dvdoug commented on #249
Whoops, sorry about that! I'll look into the tool you mention.

[2021-08-02 20:18] #249 closed

[2021-08-06 03:49] andrewmostello opened #250 "Possible min/max bug"
I've been reviewing the code/algorithm, and I was wondering if the use of `max` in this line should actually be `min`. I could just be confused, but it seems like you want either `PHP_INT_MAX` in the event this is not a `LimitedSupplyBox` (as seen in `Packer` `setBoxes` etc.), or the quantity available plus one. That would be using `min`, not `max`.

https://github.com/dvdoug/BoxPacker/blob/78caa7

[2021-08-09 18:38] dvdoug commented on #250
Hi

Yes, you're right that code does look suspicious. Thanks for pointing it out 👍

[2021-08-09 20:05] dvdoug commented on #250
This won't have had any actual impact on the packing result, but good to clear up anyway 👍

[2021-08-09 20:05] #250 closed

[2021-08-12 10:03] shakethatweight-simon opened #251 "Large list of items"
We have some orders where the user has selected a large number of items. It happens often enough that we need to find a solution. The script is run via cron, so it probably doesn't have any timeouts, so it can sit there for a long time trying to process the list of boxes required. Is there anyway of sacrificing accuracy for speed so that we get a quicker result for these large orders?

These are t

[2021-08-12 14:15] shakethatweight-simon commented on #251
I've been looking further into this, we're trying to find ways to optimise the calculations of boxes containing large numbers of items. Currently we send each product with it's quantity to the packer. Would your calculations be better optimised if we grouped the items by size instead of by product name?

Example

Product | Quantity | Size
-|-|-
A | 10 | 1x10x2
B | 7| 1x10x2
C | 9 | 1x10x2
D | 6| 2

[2021-08-15 20:28] dvdoug commented on #251
Hi

Off the top of my head, the following performance things might apply

1) `$packer->setMaxBoxesToBalanceWeight(0)`, which I believe you're already doing
2) Xdebug really slows things down, if you're benchmarking in dev then be aware that dev->prod performance will be drastically different. If you're running something like New Relic in prod, then it might be worth benchmarking with and without (

[2021-09-26 13:15] booyaamps opened #253 "Can't seem to initiate BoxPacker\Item and BoxPacker\Box classes"
Hello! First of all, excellent job on this. We use it to provide real time shipping rates for in cart options.

Everything is working very well, but in the test classes, TestItem::ROTATION_BEST_FIT is not useable (PHP Fatal error:  Uncaught Error: Undefined class constant 'ROTATION_BEST_FIT') , so I'd like to move to the regular classes.

One small issue i'm having is this:
The Test\TestItem and T

[2021-09-26 18:04] dvdoug commented on #253
Hi @booyaamps

It sounds like this might a confusion about the version you're looking at - in the current releases, the `Item` interface has a method called `getKeepFlat()` which returns a boolean (see https://github.com/dvdoug/BoxPacker/blob/3.x/src/Item.php).

On `master` (intended for the next major version but unreleased), `ItemList` has `getAllowedRotations()` (see https://github.com/dvdoug/B

[2021-09-26 18:21] booyaamps commented on #253
Ah, dangit. I am definitely on the master docs. My sincere apologies.

I am extremely excited for that feature. We want to use this to pack
pallets. Im already quite a ways into it, and using three.js to render the
pallet as packed.

As far as the item and box classes be unavailable, am i missing something
syntax wise?

On Sun, Sep 26, 2021, 2:04 PM Doug Wright ***@***.***> wrote:

[2021-09-26 18:26] dvdoug commented on #253
They're interfaces, not classes - you need to have one of your own classes implement them

[2021-09-26 18:26] dvdoug commented on #253
See https://boxpacker.io/en/stable/getting-started.html

[2021-09-27 01:49] booyaamps commented on #253
Got it! Thanks!

[2021-09-27 01:49] #253 closed

[2021-10-12 13:56] Elyos59 opened #260 "particular constraints"
Hi!

To begin with, I wanted to congratulate you for this very good work.

I have some packing restriction and I don't know how to implement it.

I have 4 kind of item :
1/ Not stackable & keep flat
2/ Not stackable & 3D rotation (useless for the moment)
3/ Stackable & keep flat (useless for the moment)
4/ Stackable & 3D rotation

For the moment, I focus on the 1st and the 4th kind of item.

The 1

[2021-10-13 22:44] dvdoug commented on #260
Hello @Elyos59

https://boxpacker.io/en/stable/advanced-usage.html#example-don-t-allow-batteries-to-be-stacked would probably a good starting point - that example loops through the already packed items to find relevant items that would cause stacking issues. You'd need to modify that to add on your particular additional constraints

[2021-10-13 22:44] #260 closed, assigned to nobody

[2021-10-19 19:10] mastmaster opened #262 "Uncaught Error: Interface 'Psr\Log\LoggerAwareInterface' not found"
Hello guys,

I really need your help.

I had successfully installed it before some weeks, also I had asked for some suggestions too.
I have installed it through composer and it has downloaded prs/lod dependency etc...

Unfortunately, today, (not sure what I have done from then) it doesn't work anymore.

Lately, I updated composer v2.

I tested on a simple code but the issue is still there

[code]

[2021-10-20 06:06] mastmaster commented on #262
Yes, I  see everywhere PSR/log ...

I tried `composer dump and composer dump --optimize` but still the same issue.

I don't know what is happening. if you have another idea let me know please.

Here is my composer
[code]

[2021-10-20 06:14] mastmaster commented on #262
Actually, it is fixed! but not sure how and why?

[2021-10-20 06:19] mastmaster commented on #262
` PHP Warning:  include(/home/.../vendor/composer/../psr/log/Psr/Log/LoggerAwareInterface.php): failed to open stream: No such file or directory in /home/.../vendor/composer/ClassLoader.php on line 571`

`PHP Warning:  include(): Failed opening '/home/.../vendor/composer/../psr/log/Psr/Log/LoggerAwareInterface.php' for inclusion (include_path='.:/opt/cpanel/ea-php74/root/usr/share/pear') in /home/

[2021-10-20 06:27] #262 closed

[2021-10-21 11:23] vesatoivonen opened #263 "psr/log dependency"
Current psr/log requirement ^1.0 is preventing us from updating to 2.0 and 3.0.
Could the dependency requirement be loosened to be combatible with newer versions of psr/log?

[2021-10-21 22:30] #263 closed

[2021-10-25 15:09] MarcoWel opened #264 "Algorithm seems inefficient for tight packing"
Hi,
First of all a big thank you to @dvdoug  for this excellent and easy-to-use library. We use it to automatically find the right box for a given set of products.

However, there are regular cases where Packer() just does not seem to work well. One particular case is the following:

[code]

This leads to Packer() suggesting the large box although everything would fit into the small box as well.
!

[2021-11-01 19:42] dvdoug commented on #264
[code]
$packer->addBox(new TestBox('Small', 160, 130,  70, 160, 130,  70, 0, 100000));
$packer->addBox(new TestBox('Large', 250, 175, 100, 250, 175, 100, 100000));
[code]

[2021-11-03 19:52] judgej opened #267 "Are there any examples of the packing data for the visualiser?"
Without installing the whole package, I would like to see the visualiser in action. Are there any examples of what the data looks like, that it needs, just for demo purposes?

[2021-11-04 22:20] dvdoug commented on #267
Sure, it looks something like this

[code]

[2021-11-04 23:07] judgej commented on #267
Thank you, that's very useful.

[2021-11-04 23:11] #267 closed

[2021-11-06 17:30] dvdoug commented on #264
This is one of those where when I tweak the logic to make the packing better in this particular scenario better, others regress at get worse. Will keep at it...

[2021-11-09 12:45] Elyos59 opened #268 "Item Rotation constraints cause differents results"
Hi,

Due to my problem ( https://github.com/dvdoug/BoxPacker/discussions/261 ), I have made some tests...

If I try to put 60 Items (140x35x30) in a box (280x175x180) I have differents results depends on item rotation constraints :
- All items ROTATION_NEVER => all items fit the box
- All items ROTATION_KEEP_FLAT => all items fit the box
- All items ROTATION_BEST_FIT => 30 items per box

So... ROT

[2021-11-09 21:24] Noodleyman opened #269 "Manually define the order to test boxes"
I've run into the previously noted issue where by long thin boxes with smaller volume than wide/chunk boxes may, in some cases be selected as the best fit for a number of items.

The reality is that long thin boxes cost more to ship than wide/chunky boxes due to the oversized length.

I want to modify the order boxes are evaluated and changed from volume based to manually defined (or a hybrid, pri

[2021-11-10 06:32] Noodleyman commented on #269
ignore.. BoxList compare function, tracked what I needed.

[2021-11-10 14:25] dvdoug commented on #269
Awesome. https://github.com/dvdoug/BoxPacker/blob/3.x/src/BoxList.php#L44 might also be relevant.

[2021-11-24 18:40] #213 closed

[2021-12-11 19:48] #188 closed

[2021-12-11 19:48] #77 closed

[2021-12-11 20:24] #138 closed

[2021-12-11 20:24] #203 closed

[2021-12-12 10:24] progettoautomazione commented on #203
@dvdoug great update! Thanks so much! Cheers

[2021-12-13 15:59] YoussefAlmardini opened #270 "Volume packing set allowed air in box"
Hi, I am using packer to pack normal products in 3 different sizes boxes and it works good!
I would like to ask for features or advice, In some cases i need to use volume packing instead of normal packing, i need to volume packing to save more cartoon but the result is a real puzzle for employees in logistic, so i need to pack 80% (or dynamic value)  form each box instead of full to neck.

My code

[2021-12-13 16:25] shakethatweight-simon commented on #270
There is a visualisation tool available now, we use a slightly different 3d render, but for complex orders our packers can click a button to reveal a 3d render of the packed box to show how to determined which box to use, would this be an option instead of sacrificing efficiency in box size and postage costs over the complexity of packing the box?

[2021-12-14 09:31] YoussefAlmardini commented on #270
Thanks for reply, i am already using 3d view and it is fine, but i want really 80% full boxes, i mean something between  Pack function and doVolumePackPacking, i want to save boxes but also to fill the each box to specific percentage. I also tried canBePacked function but there u can not reach box volume to determine the capacity, i also tried setMaxBoxesToBalanceWeight to set weight to distribute

[2021-12-14 12:00] YoussefAlmardini commented on #270
Thanks for reply, i am already using 3d view and it is fine, but i want really 80% full boxes, i mean something between Pack function and doVolumePackPacking, i want to save boxes but also to fill the each box to specific percentage. I also tried canBePacked function but there u can not reach box volume to determine the capacity, i also tried setMaxBoxesToBalanceWeight to set weight to distribute

[2021-12-14 12:27] dvdoug commented on #270
Hi @YoussefAlmardini

I think https://github.com/dvdoug/BoxPacker/discussions/216 should help you out

[2021-12-14 12:56] YoussefAlmardini commented on #270
Nice that is what a, looking for! thanks

[2021-12-14 12:56] #270 closed

[2021-12-14 15:51] hmza27 opened #271 "Box packing issue"
Hi,
The algorithm is not returning the correct box the items fit in a smaller box but instead it returns a bigger box can you help me with this.
Thanks

[2021-12-15 20:33] dvdoug commented on #271
Hi @hmza27

Can you supply more information?

[2021-12-17 09:45] hmza27 commented on #271
Hi the items are
1st item value in inches are
width:203.2
lenght:203.2
height:12.7
I am adding it with quantity of 4
2nd item value in inches are
width:304.8
lenght:381
height:76.2
I am adding it with quantity of 2
And the two boxes values are:
1st box (large one):
outerwidth:396.875
outerLength:320.675
outerDepth:177.8
innerWidth:400.05
innerLength:320.675
innerDepth:177.8
2nd box (small one):
ou

[2021-12-17 10:10] shakethatweight-simon commented on #271
@hmza27  I'm not the developer, but I do use this BoxPacker in our software.

1. The dimensions are expected to be integer, not float.

2. I also note that the inner and outer _length_ of box 1 are the same, and inner and outer _width_ of box 2 are the same, is this intentional?

3. Just by checking the total overall volume, I don't see how they can fit in the small box.

Total volume of items: `4

[2021-12-25 11:19] fonteyazilim commented on #240
Hi sir, Have you had a review on this?

[2022-01-14 22:32] colinmollenhour commented on #264
Not sure if I should open a separate task or not but here is a similar example that is actually much simpler:

- 5 units of an item which is 2.6 L x 2.6 W x 4.6 H inches
- One box option that is 7.25 L x 7.25 W x 6.5 H inches (a USPS flat rate box)

This should be able to fit up to 6 units by laying 4 on their side and stacking those 4 two high and then the remaining two upright. However, BoxPacke

[2022-01-16 17:59] dvdoug opened #272 "Inefficient packing"
Not sure if I should open a separate task or not but here is a similar example that is actually much simpler:

- 5 units of an item which is 2.6 L x 2.6 W x 4.6 H inches
- One box option that is 7.25 L x 7.25 W x 6.5 H inches (a USPS flat rate box)

This should be able to fit up to 6 units by laying 4 on their side and stacking those 4 two high and then the remaining two upright. However, BoxPacke

[2022-01-16 18:01] dvdoug commented on #264
In general yes please as it's very possible there are different issues in play for different scenarios. I've created #272 to track that example

[2022-02-25 07:17] mumairdeveloper opened #273 "BoxPacker is not supportive for float values!"
Hello,

I wanna pass the float values of length, width, height, and weight to boxes and products as well, please help

Thanks

[2022-02-27 14:37] dvdoug commented on #273
Hi @mumairdeveloper

The library uses integers on purpose to avoid floating point rounding errors (see https://github.com/dvdoug/BoxPacker/issues/215 for an example). If you're using centimetres or inches, just convert to millimetres

[2022-02-27 14:37] #273 closed

[2022-03-15 17:41] patrick-melo opened #275 "Box dimension order affects volume utilization"
The following test case demonstrates that if I swap the length and width in the box dimensions, the utilization changes from 65.3% to 56.6%. In the first test, the box is able to accommodate 4 items. In the second test, it can accommodate only 3. I would not have expected the order of the dimensions to have any impact on the utilization.

In this example, I swap the length and width between addBox

[2022-03-15 18:56] patrick-melo commented on #275
The [documentation](https://boxpacker.io/en/stable/rotation.html#boxes) has the following to say:

I'm going to use rsort() to work around this problem for now. Let me know if you think this makes sense.

SOURCE
[code]

[2022-03-17 16:36] canetti2 opened #276 "Version 3.9 - Rotation option does not work"
Hello,

we would like to use the great library to find the best package for our shipping items.
Exemplary we have two boxes:

Box 1: 500 x 100 x 100
Box 2: 600 x 100 x 100

We work with the TestItem.php and have a modified getKeepFlat() function:

[code]

This is our Item-code:
[code]

As result we get NOT the Box 1 (500x100x100) but the Box 2 (600x100x100).

Can anybody help me - what is wrong?

[2022-03-20 11:40] canetti2 commented on #276
I think I misunderstood the rotation function. Please take a look at the picture:
![box-item](https://user-images.githubusercontent.com/24872015/159160345-25496264-23a4-4e17-a9b2-d58d62bfee1a.gif)

Is this kind of packing with the library possible? Or is the library not able to place the item diagonally in the box?

[2022-03-20 18:25] dvdoug commented on #275
Hi @patrick-melo

When initially packing a box, BoxPacker will consider both orientations of the box, and the order you specify doesn't matter. However after that phase, by default BoxPacker activates its weight-redistribution mode (https://boxpacker.io/en/stable/weight-distribution.html) which by-design trades away optimum packing efficiency for the goal of balancing weight. Because of that, the

[2022-03-20 18:27] dvdoug commented on #276
Hi @canetti2

Diagonals are not supported 😨 , only rotations of 90 degrees

[2022-03-20 18:27] #276 closed

[2022-04-03 08:59] ServiceSector opened #278 "API?"
I'm looking for something [like this](https://github.com/north-american-web/box-packer-api) but with weight integration, this library seems to be it, however there doesn't seem to be an API integration like the other package. How would one implement this?

[2022-04-04 08:32] shakethatweight-simon commented on #278
There's no API, but if you're already working in PHP it should be easy enough to integrate this package. If you don't have access to PHP then I can understand why you might want an API.

[2022-04-04 19:00] ServiceSector commented on #278
Haha I've tried almost 40 different box packers, when one couldn't handle weights (algorithmic limitation) it would resolve the boxes needed perfectly, when one could handle weights it didn't work at all, or some variation of that. Some came so close, namely [SardineCan](https://github.com/merschformann/sardine-can), but I wasn't able to figure out what the problem was.

This project here looks ta

[2022-04-04 21:58] ServiceSector commented on #278
It's working flawlessly

Stunning work here

[2022-04-04 22:01] #278 closed

[2022-04-04 23:08] ServiceSector commented on #219
Woah did not expect to see this on github

[2022-04-05 01:13] ServiceSector commented on #278
It's done. It's deployed on a SLIM framework instance on gCloud, the API is responding. My brain can't even process that I finished it already. It was flawless

The only problem was that it couldn't really handle decimals, so anything like 0.5 it would break the calculation. I've seen other libraries handle that internally by multiplying the input number by 10000 for example and dividing internall

[2022-04-05 08:07] shakethatweight-simon commented on #278
There are regular issues raised for float values, but there is a real reason for not supporting it in PHP. See this comment from the author of this software: https://github.com/dvdoug/BoxPacker/issues/215#issuecomment-723476105 - if you know your own accuracy, then use your API wrapper to multiple up all the values on the input and divide back down before sending back the responses. We use grams f

[2022-04-05 08:10] shakethatweight-simon commented on #219
@ServiceSector Yes you can donate to the project and I'm sure @dvdoug would appreciate that : https://github.com/sponsors/dvdoug

[2022-04-05 20:16] dvdoug commented on #278
Yeah, no "official" API. Mostly because of the nature of the library, with the design choice to allow applications to use their own objects - taking advantage of that functionality obviously requires app-specific knowledge.

Tell me it about it 🤣

Yep, official advice is if you're using inches or cm, convert to mm. I should probably add that the docs...

[2022-04-05 20:16] dvdoug commented on #278
Glad you got it working 👍

[2022-04-05 20:24] dvdoug commented on #219
I would indeed, I don't do this for the money but all donations are _very_ much appreciated

[2022-04-05 20:24] dvdoug commented on #278
Also - cheers @shakethatweight-simon !

[2022-06-26 15:09] staixe opened #297 "How to get dimensions of multiple items?"
Hi, I want to get dimensions of multiple items.

In tests/PackerTest.php I see the method, testPackWithoutBox. I am trying to write the following code

`$item1 = new TestItem('Item1', 5, 5, 5, 10, false);
$item2 = new TestItem('Item2', 15, 15, 5, 10, false);
$item3 = new TestItem('Item3', 5, 15, 15, 10, false);

$packer = new Packer();
$packer->addItem($item1);
$packer->addItem($item2);
$packer->a

[2022-06-28 09:19] hudaibrhm opened #298 "How to make volume box full first when item need more than 1 box"
Hi Doug.. Thank you for creating this wonderful project.
I recently used your project to estimate how much cargo is needed from a list of items in the database.
However, after the calculation, there are several cargoes/boxes that are not fully filled in volume even though there are some items that can make these boxes full by volume.
Can I make a box full of volume first before stuff is put into t

[2022-06-29 14:15] dvdoug commented on #297
Hi @staixe

That test checks that the relevant exception is thrown, which is in line with the behaviour you describe above.

I'm not sure what you mean though by "get the dimensions of an item without a box" - you already have the dimensions of the items?

[2022-06-29 14:19] dvdoug commented on #298
Hello @hudaibrhm

Have you see https://boxpacker.io/en/stable/weight-distribution.html? Try turning that behaviour off and you may get the results you're expecting 🤞

[2022-06-29 14:28] staixe commented on #297
Hi @dvdoug
Yes, I Have item sizes, but I don't have box sizes. I would like to get the dimensions of the box in which I can pack all my goods.

How can i do this? or do I always need to set the dimensions of the box?

[2022-06-29 19:46] dvdoug commented on #297
That's not something this library does, it only works with existing pre-defined box sizes. There is an open feature request you may wish to subscribe to at https://github.com/dvdoug/BoxPacker/issues/162

[2022-06-29 19:46] #297 closed

[2022-07-03 16:32] dvdoug commented on #298
Hi @hudaibrhm

Yes, it looks like that last item is certainly not being packed optimally - I'll need to investigate further. Thanks for reporting it

[2022-07-28 14:37] colinmollenhour commented on #272
Hi @dvdoug what are the chances realistically of you being able to make optimizations to the algorithm to address problems such as this in 2022?

[2022-07-31 20:11] dvdoug commented on #272
Hi @colinmollenhour

🤞 I should have time around October to come back and have a proper attempt at issues like this - unfortunately while it's easy(ish) to figure out which packing decision is being non-optimal in any given situation, it's usually the case (it is here) that tweaking things to make one packing scenario better tends to regress others - and sadly I haven't had the time recently for c

[2022-08-01 19:15] colinmollenhour commented on #272
@dvdoug Thanks for the update. Let me know when you start if you need any assistance from my team with testing or otherwise.

[2022-09-02 14:51] JeroenSteen opened #326 "Implicit conversion from float to int"
For my use case I want to know which box is the best for shipping of a certain amount of business-cards, and also what the total weight is.

I create a box with the following:
`$packer->addBox(new TestBox('Verzenddoos bruin+klep 180x115x28mm golf', 196, 120, 31, 31, 180, 115, 28, 400));`

Then I add a item of an business cards in a quantity of 1000.
`$packer->addItem(new TestItem('Visitekaart 85x5

[2022-09-03 15:42] dvdoug commented on #326
Hi @JeroenSteen

Using ints rather than floats is on purpose, see https://github.com/dvdoug/BoxPacker/issues/215 for an example of why. Having said that, I have to admit that shipping something literally as thin as a business card was not something I'd considered.

For your use case, I think multiplying the fractional mm by e.g. 10 or 100 as you already have is probably the easiest option, althoug

[2022-09-19 21:24] AdityaRawat96 opened #334 "Items are overlapped in some cases which provides incorrect results sometimes"
Hi @dvdoug,

I loved the BoxPacker that you created and it seems to be working fine most of the times but in certain test cases I have observed that the items are not correctly stacked which results in inconsistent results.

I compared the results with the bin packer provided by - https://www.3dbinpacking.com which shows the 3D representation of packed items and below are the parameters that I use

[2022-09-20 06:45] lavanyadandumenu opened #336 "how to run bax packer folder in localhost using php"
I have downloaded it from github but I don't know how to run boxpacker folder in localhost.plase help me

[2022-09-20 12:32] AdityaRawat96 commented on #336
You can run the command - _composer require dvdoug/boxpacker_ on your project root directory to install BoxPacker after that you can include it in your php file like this -

`<?php
    require_once __DIR__ . '/vendor/autoload.php';

    use DVDoug\BoxPacker\Packer;
    use DVDoug\BoxPacker\Test\TestBox;  // use your own `Box` implementation
    use DVDoug\BoxPacker\Test\TestItem; // use your own `

[2022-09-25 21:44] dvdoug commented on #334
Hi @AdityaRawat96

I'll take a look, seems to be case of the first item being placed in a different orientation, and then everything else being a knock-on consequence of that.

Hopefully 🤞 this one should be fairly straightforward, as all items have the same dimensions so there's no issue around sorting, only placement

[2022-10-08 00:12] earbor-ai opened #348 "Assign Correct Box"
Hi,

We found an issue with the app. Can you please let me know.. Here is our example.. we pack this in 18x14x8 box but you are app is giving us 36x24x12.. Can you please let me know what we are doing wrong? Thanks for your help in advance.

Here are the boxes we have: all are in inches

18x7x7

24x9x9

18x14x8

36x24x12

36x24x6

8x8x4

Here are the SKU’s we have with sizes and quantities..

Prod

[2022-10-09 00:44] earbor-ai commented on #334
Hi @dvdoug,

Did you had any suggestion here or fix? Having the same issue for us too..

Thanks

[2022-10-21 21:20] AsaXiao opened #356 "Update jsonSerialize()"
First of all, a big thank you to Doug, this is absolutely amazing and it really saved me a lot of time.

I just have a small suggestion, it would be great if you could update the jsonSerialize() function in PackedBox and PackedItem, add jsonSerialize() to the Box and Item Interface, then the users can define this function like what you have in TestBox and TestItem and get the info they want after

[2022-10-23 12:38] dvdoug commented on #356
Hi @AsaXiao

Thanks for the suggestion - I can't change the interface in a 3.x release because that would cause backwards-compatibility problems, but I'll keep this idea in mind

[2022-11-15 01:36] ngocpxkaopiz opened #366 "Missing value in result response"
Hi @dvdoug ,
I have 1 pallet have size is width = 250, height = 160, depth = 1 and box have size is width = 30, height = 70, depth = 1. After calcuation i receive result as image but i think it is not optimize result. please re-check algothrithm and fix it.
![solution abc](https://user-images.githubusercontent.com/38233825/201805137-be3e4b37-90eb-4468-bead-c62ca4ff885d.svg)